{
  "openapi": "3.1.1",
  "info": {
    "title": "Scalar API",
    "description": "API for managing Scalar platform resources.\n\n## TypeScript SDK\n\nFor TypeScript, we provide a SDK that makes using our API even easier.\n\n### Install\n\n```bash\nnpm add @scalar/sdk\n```\n\n### Get a Scalar API key\n\nCreate an API key in your Scalar account:\n\n- Dashboard: https://dashboard.scalar.com/account\n- Store it in `.env`, for example:\n\n```bash\nSCALAR_API_KEY=your_personal_token\n```\n\n### Exchange your API key for an access token\n\nThe personal token is not an access token. Exchange it first with `postv1AuthExchange`.\n\nIf you use the personal token directly for authenticated API calls, the API returns `401 Invalid authentication token`.\n\n```ts\nimport { Scalar } from '@scalar/sdk'\n\nconst scalar = new Scalar()\n\nconst exchange = await scalar.auth.postv1AuthExchange({\n  personalToken: process.env.SCALAR_API_KEY!,\n})\n\nconst accessToken = exchange.accessToken\n```\n\n### Use the access token\n\nConstruct a second client with bearer auth. Use this authenticated client for API calls.\n\n```ts\nimport { Scalar } from '@scalar/sdk'\n\nconst scalar = new Scalar()\n\nconst exchange = await scalar.auth.postv1AuthExchange({\n  personalToken: process.env.SCALAR_API_KEY!,\n})\n\nconst authedScalar = new Scalar({\n  bearerAuth: exchange.accessToken,\n})\n```\n\n### Notes\n\n- The exchange request itself can be made from a client constructed with no arguments (`new Scalar()`).\n- The exchanged access token is valid for 12 hours.\n- Timestamps are Unix seconds.\n\n### Read more\n\n- [@scalar/sdk on npm](https://www.npmjs.com/package/@scalar/sdk)",
    "version": "0.2.3",
    "contact": {
      "name": "Marc from Scalar",
      "url": "https://scalar.com",
      "email": "support@scalar.com"
    },
    "x-scalar-sdk-installation": [
      {
        "lang": "TypeScript",
        "description": "```sh\nnpm install @scalar/sdk\n```"
      },
      {
        "lang": "Python",
        "description": "```sh\npip install scalar-sdk\n```"
      }
    ]
  },
  "servers": [
    {
      "url": "https://access.scalar.com"
    }
  ],
  "tags": [
    {
      "name": "Registry",
      "description": "Registry"
    },
    {
      "name": "Schemas",
      "description": "Schemas"
    },
    {
      "name": "Login Portals",
      "description": "Login Portals"
    },
    {
      "name": "Rules",
      "description": "Rules"
    },
    {
      "name": "Themes",
      "description": "Themes"
    },
    {
      "name": "Teams",
      "description": "Teams"
    },
    {
      "name": "Scalar Docs",
      "description": "Scalar Docs"
    },
    {
      "name": "Namespaces",
      "description": "Namespaces"
    },
    {
      "name": "Authentication",
      "description": "Authentication"
    }
  ],
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "400": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "code": {
            "type": "string"
          }
        },
        "required": [
          "message",
          "code"
        ]
      },
      "401": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "code": {
            "type": "string"
          }
        },
        "required": [
          "message",
          "code"
        ]
      },
      "403": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "code": {
            "type": "string"
          }
        },
        "required": [
          "message",
          "code"
        ]
      },
      "404": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "code": {
            "type": "string"
          }
        },
        "required": [
          "message",
          "code"
        ]
      },
      "422": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "code": {
            "type": "string"
          }
        },
        "required": [
          "message",
          "code"
        ]
      },
      "500": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "code": {
            "type": "string"
          }
        },
        "required": [
          "message",
          "code"
        ]
      },
      "api-document": {
        "type": "object",
        "properties": {
          "uid": {
            "default": "nanoid()",
            "$ref": "#/components/schemas/nanoid"
          },
          "version": {
            "$ref": "#/components/schemas/version"
          },
          "title": {
            "default": "",
            "type": "string",
            "maxLength": 100
          },
          "slug": {
            "default": "randomManagedDocSlug()",
            "$ref": "#/components/schemas/slug"
          },
          "description": {
            "default": "",
            "type": "string"
          },
          "namespace": {
            "$ref": "#/components/schemas/namespace"
          },
          "isPrivate": {
            "default": false,
            "type": "boolean"
          },
          "tags": {
            "default": []
          },
          "versions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/managed-doc-version"
            }
          }
        },
        "required": [
          "uid",
          "version",
          "title",
          "slug",
          "description",
          "namespace",
          "isPrivate",
          "tags",
          "versions"
        ],
        "additionalProperties": false
      },
      "nanoid": {
        "type": "string",
        "minLength": 5
      },
      "version": {
        "type": "string",
        "minLength": 1
      },
      "slug": {
        "type": "string",
        "minLength": 3,
        "maxLength": 60,
        "pattern": "^[a-z](?:[a-z0-9-]*[a-z0-9])?$"
      },
      "namespace": {
        "type": "string",
        "minLength": 3,
        "maxLength": 50,
        "pattern": "^[a-zA-Z0-9-_]+$"
      },
      "managed-doc-version": {
        "type": "object",
        "properties": {
          "uid": {
            "$ref": "#/components/schemas/nanoid"
          },
          "createdAt": {
            "type": "number"
          },
          "version": {
            "$ref": "#/components/schemas/version"
          },
          "upgraded": {
            "default": false,
            "type": "boolean"
          },
          "embedStatus": {
            "default": null,
            "anyOf": [
              {
                "type": "string",
                "enum": [
                  "complete",
                  "failed"
                ]
              },
              {
                "type": "null"
              }
            ]
          },
          "tags": {
            "default": [],
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "tools": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "path": {
                  "type": "string"
                },
                "method": {
                  "$ref": "#/components/schemas/method"
                },
                "enabledTools": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "enum": [
                      "execute-request",
                      "get-mini-openapi-spec"
                    ]
                  }
                }
              },
              "required": [
                "path",
                "method",
                "enabledTools"
              ],
              "additionalProperties": false
            }
          },
          "yamlSha": {
            "type": "string"
          },
          "jsonSha": {
            "type": "string"
          },
          "versionSha": {
            "type": "string"
          }
        },
        "required": [
          "uid",
          "createdAt",
          "version",
          "upgraded",
          "embedStatus",
          "tags"
        ],
        "additionalProperties": false
      },
      "method": {
        "type": "string",
        "enum": [
          "delete",
          "get",
          "head",
          "options",
          "patch",
          "post",
          "put",
          "trace"
        ]
      },
      "access-group": {
        "type": "object",
        "properties": {
          "accessGroupSlug": {
            "$ref": "#/components/schemas/slug"
          }
        },
        "required": [
          "accessGroupSlug"
        ],
        "additionalProperties": false
      },
      "schema": {
        "type": "object",
        "properties": {
          "uid": {
            "default": "nanoid()",
            "$ref": "#/components/schemas/nanoid"
          },
          "title": {
            "default": "",
            "type": "string",
            "maxLength": 100
          },
          "description": {
            "default": "",
            "type": "string"
          },
          "slug": {
            "default": "randomManagedDocSlug()",
            "$ref": "#/components/schemas/slug"
          },
          "namespace": {
            "$ref": "#/components/schemas/namespace"
          },
          "isPrivate": {
            "default": false,
            "type": "boolean"
          },
          "versions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/managed-schema-version"
            }
          }
        },
        "required": [
          "uid",
          "title",
          "description",
          "slug",
          "namespace",
          "isPrivate",
          "versions"
        ],
        "additionalProperties": false
      },
      "managed-schema-version": {
        "type": "object",
        "properties": {
          "uid": {
            "default": "nanoid()",
            "$ref": "#/components/schemas/nanoid"
          },
          "createdAt": {
            "default": "unixTimestamp()",
            "$ref": "#/components/schemas/timestamp"
          },
          "updatedAt": {
            "default": "unixTimestamp()",
            "$ref": "#/components/schemas/timestamp"
          },
          "version": {
            "default": "0.0.1",
            "$ref": "#/components/schemas/version"
          }
        },
        "required": [
          "uid",
          "createdAt",
          "updatedAt",
          "version"
        ],
        "additionalProperties": false
      },
      "timestamp": {
        "type": "integer",
        "minimum": 0,
        "maximum": 9007199254740991
      },
      "uid": {
        "type": "object",
        "properties": {
          "uid": {
            "$ref": "#/components/schemas/nanoid"
          }
        },
        "required": [
          "uid"
        ],
        "additionalProperties": false
      },
      "login-portal-email": {
        "type": "object",
        "properties": {
          "logo": {
            "default": "",
            "type": "string"
          },
          "logoSize": {
            "default": "100",
            "type": "string"
          },
          "buttonText": {
            "default": "Login",
            "type": "string",
            "maxLength": 50
          },
          "message": {
            "default": "Click to access private documentation hosted by scalar.com",
            "type": "string",
            "maxLength": 1000
          },
          "title": {
            "default": "Private Docs",
            "type": "string",
            "maxLength": 100
          },
          "mainColor": {
            "default": "#2a2f45",
            "type": "string",
            "maxLength": 100
          },
          "mainBackground": {
            "default": "#f6f6f6",
            "type": "string",
            "maxLength": 100
          },
          "cardColor": {
            "default": "2a2f45",
            "type": "string",
            "maxLength": 100
          },
          "cardBackground": {
            "default": "#fff",
            "type": "string",
            "maxLength": 100
          },
          "buttonColor": {
            "default": "#fff",
            "type": "string",
            "maxLength": 100
          },
          "buttonBackground": {
            "default": "#0f0f0f",
            "type": "string",
            "maxLength": 100
          }
        },
        "required": [
          "logo",
          "logoSize",
          "buttonText",
          "message",
          "title",
          "mainColor",
          "mainBackground",
          "cardColor",
          "cardBackground",
          "buttonColor",
          "buttonBackground"
        ],
        "additionalProperties": false
      },
      "login-portal-page": {
        "type": "object",
        "properties": {
          "title": {
            "default": "Scalar Private Docs",
            "type": "string",
            "maxLength": 100
          },
          "description": {
            "default": "Login to access your documentation",
            "type": "string",
            "maxLength": 500
          },
          "head": {
            "default": "",
            "type": "string"
          },
          "script": {
            "default": "",
            "type": "string"
          },
          "theme": {
            "default": "",
            "type": "string"
          },
          "companyName": {
            "default": "",
            "type": "string",
            "maxLength": 100
          },
          "logo": {
            "default": "",
            "type": "string"
          },
          "logoURL": {
            "default": "",
            "type": "string"
          },
          "favicon": {
            "default": "",
            "type": "string"
          },
          "termsLink": {
            "default": "",
            "type": "string"
          },
          "privacyLink": {
            "default": "",
            "type": "string"
          },
          "formTitle": {
            "default": "Scalar Private Docs",
            "type": "string",
            "maxLength": 100
          },
          "formDescription": {
            "default": "Login to access your documentation",
            "type": "string",
            "maxLength": 500
          },
          "formImage": {
            "default": "",
            "type": "string"
          }
        },
        "required": [
          "title",
          "description",
          "head",
          "script",
          "theme",
          "companyName",
          "logo",
          "logoURL",
          "favicon",
          "termsLink",
          "privacyLink",
          "formTitle",
          "formDescription",
          "formImage"
        ],
        "additionalProperties": false
      },
      "login-portal": {
        "type": "object",
        "properties": {
          "uid": {
            "$ref": "#/components/schemas/nanoid"
          },
          "title": {
            "type": "string",
            "maxLength": 200
          },
          "slug": {
            "$ref": "#/components/schemas/slug"
          }
        },
        "required": [
          "uid",
          "title",
          "slug"
        ],
        "additionalProperties": false
      },
      "rule": {
        "type": "object",
        "properties": {
          "uid": {
            "default": "nanoid()",
            "$ref": "#/components/schemas/nanoid"
          },
          "title": {
            "default": "",
            "type": "string",
            "maxLength": 100
          },
          "description": {
            "default": "",
            "type": "string"
          },
          "slug": {
            "default": "randomManagedDocSlug()",
            "$ref": "#/components/schemas/slug"
          },
          "namespace": {
            "$ref": "#/components/schemas/namespace"
          },
          "isPrivate": {
            "default": false,
            "type": "boolean"
          }
        },
        "required": [
          "uid",
          "title",
          "description",
          "slug",
          "namespace",
          "isPrivate"
        ],
        "additionalProperties": false
      },
      "theme": {
        "type": "object",
        "properties": {
          "uid": {
            "$ref": "#/components/schemas/nanoid"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "slug": {
            "$ref": "#/components/schemas/slug"
          }
        },
        "required": [
          "uid",
          "name",
          "description",
          "slug"
        ],
        "additionalProperties": false
      },
      "team": {
        "type": "object",
        "properties": {
          "uid": {
            "$ref": "#/components/schemas/nanoid"
          },
          "name": {
            "$ref": "#/components/schemas/team-name"
          },
          "imageUri": {
            "$ref": "#/components/schemas/team-image"
          },
          "slug": {
            "$ref": "#/components/schemas/slug"
          },
          "theme": {
            "type": "string"
          }
        },
        "required": [
          "uid",
          "name",
          "slug",
          "theme"
        ],
        "additionalProperties": false
      },
      "team-name": {
        "type": "string"
      },
      "team-image": {
        "type": "string"
      },
      "github-project": {
        "type": "object",
        "properties": {
          "uid": {
            "default": "nanoid()",
            "$ref": "#/components/schemas/nanoid"
          },
          "createdAt": {
            "default": "unixTimestamp()",
            "$ref": "#/components/schemas/timestamp"
          },
          "updatedAt": {
            "default": "unixTimestamp()",
            "$ref": "#/components/schemas/timestamp"
          },
          "name": {
            "type": "string"
          },
          "activeDeployment": {
            "default": null,
            "anyOf": [
              {
                "$ref": "#/components/schemas/active-deployment"
              },
              {
                "type": "null"
              }
            ]
          },
          "lastPublished": {
            "default": null,
            "anyOf": [
              {
                "$ref": "#/components/schemas/timestamp"
              },
              {
                "type": "null"
              }
            ]
          },
          "lastPublishedUid": {
            "default": null,
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "loginPortalUid": {
            "default": "",
            "type": "string"
          },
          "activeThemeId": {
            "default": "",
            "type": "string"
          },
          "typesenseId": {
            "type": "number"
          },
          "isPrivate": {
            "default": false,
            "type": "boolean"
          },
          "agentEnabled": {
            "default": false,
            "type": "boolean"
          },
          "accessGroups": {
            "default": []
          },
          "slug": {
            "$ref": "#/components/schemas/slug"
          },
          "publishStatus": {
            "default": "",
            "type": "string"
          },
          "publishMessage": {
            "default": "",
            "type": "string"
          },
          "repository": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/github-project-repository"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "uid",
          "createdAt",
          "updatedAt",
          "name",
          "activeDeployment",
          "lastPublished",
          "lastPublishedUid",
          "loginPortalUid",
          "activeThemeId",
          "isPrivate",
          "agentEnabled",
          "accessGroups",
          "slug",
          "publishStatus",
          "publishMessage"
        ],
        "additionalProperties": false
      },
      "active-deployment": {
        "type": "object",
        "properties": {
          "uid": {
            "type": "string"
          },
          "domain": {
            "type": "string"
          },
          "publishedAt": {
            "$ref": "#/components/schemas/timestamp"
          }
        },
        "required": [
          "uid",
          "domain",
          "publishedAt"
        ],
        "additionalProperties": false
      },
      "github-project-repository": {
        "type": "object",
        "properties": {
          "linkedBy": {
            "type": "string"
          },
          "id": {
            "type": "number"
          },
          "name": {
            "type": "string",
            "minLength": 2
          },
          "configPath": {
            "default": "",
            "type": "string"
          },
          "branch": {
            "default": "",
            "type": "string"
          },
          "publishOnMerge": {
            "default": false,
            "type": "boolean"
          },
          "publishPreviews": {
            "default": false,
            "type": "boolean"
          },
          "prComments": {
            "default": false,
            "type": "boolean"
          },
          "expired": {
            "default": false,
            "type": "boolean"
          }
        },
        "required": [
          "linkedBy",
          "id",
          "name",
          "configPath",
          "branch",
          "publishOnMerge",
          "publishPreviews",
          "prComments",
          "expired"
        ],
        "additionalProperties": false
      },
      "email": {
        "type": "string",
        "format": "email",
        "pattern": "^(?!\\.)(?!.*\\.\\.)([A-Za-z0-9_'+\\-\\.]*)[A-Za-z0-9_+-]@([A-Za-z0-9][A-Za-z0-9\\-]*\\.)+[A-Za-z]{2,}$"
      },
      "team-summary": {
        "type": "object",
        "properties": {
          "uid": {
            "$ref": "#/components/schemas/nanoid"
          },
          "name": {
            "$ref": "#/components/schemas/team-name"
          },
          "imageUri": {
            "$ref": "#/components/schemas/team-image"
          }
        },
        "required": [
          "uid",
          "name"
        ],
        "additionalProperties": false
      },
      "user": {
        "type": "object",
        "properties": {
          "uid": {
            "default": "nanoid()",
            "$ref": "#/components/schemas/nanoid"
          },
          "createdAt": {
            "default": "unixTimestamp()",
            "$ref": "#/components/schemas/timestamp"
          },
          "updatedAt": {
            "default": "unixTimestamp()",
            "$ref": "#/components/schemas/timestamp"
          },
          "email": {
            "$ref": "#/components/schemas/email"
          },
          "theme": {
            "type": "string"
          },
          "activeTeamId": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "hasGithub": {
            "default": false,
            "type": "boolean"
          },
          "teams": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/team-summary"
            }
          }
        },
        "required": [
          "uid",
          "createdAt",
          "updatedAt",
          "email",
          "activeTeamId",
          "hasGithub",
          "teams"
        ],
        "additionalProperties": false
      }
    }
  },
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "paths": {
    "/v1/apis": {
      "get": {
        "tags": [
          "Registry"
        ],
        "description": "List all API documents across every namespace the caller can access.",
        "summary": "List all API Documents",
        "operationId": "listAllApiDocuments",
        "responses": {
          "200": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/api-document"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/400"
                }
              }
            }
          },
          "401": {
            "description": "No auth",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/401"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/403"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/404"
                }
              }
            }
          },
          "422": {
            "description": "Invalid payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/422"
                }
              }
            }
          },
          "500": {
            "description": "Uncaught error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/500"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "TypeScript",
            "label": "TypeScript",
            "source": "import Scalar from '@scalar/sdk';\n\nconst client = new Scalar({\n  bearerAuth: process.env['BEARER_AUTH'], // defaults to the BEARER_AUTH env var\n});\n\nconst listAllAPIDocuments = await client.registry.listAllAPIDocuments();\n\nconsole.log(listAllAPIDocuments);"
          },
          {
            "lang": "Shell",
            "label": "CLI",
            "source": "scalarapi registry list-all-api-documents --bearer-auth \"$BEARER_AUTH\""
          },
          {
            "lang": "Python",
            "label": "Python",
            "source": "import os\n\nfrom scalar_sdk import Scalar\n\nclient = Scalar(\n    bearer_auth=os.environ.get(\"BEARER_AUTH\"),\n)\n\nregistry = client.registry.list_all_api_documents()\n\nprint(registry)"
          }
        ]
      }
    },
    "/v1/apis/{namespace}": {
      "get": {
        "tags": [
          "Registry"
        ],
        "description": "List API documents in a namespace.",
        "summary": "List API Documents in a namespace",
        "operationId": "listApiDocuments",
        "responses": {
          "200": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/api-document"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/400"
                }
              }
            }
          },
          "401": {
            "description": "No auth",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/401"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/403"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/404"
                }
              }
            }
          },
          "422": {
            "description": "Invalid payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/422"
                }
              }
            }
          },
          "500": {
            "description": "Uncaught error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/500"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "namespace",
            "required": true
          }
        ],
        "x-codeSamples": [
          {
            "lang": "TypeScript",
            "label": "TypeScript",
            "source": "import Scalar from '@scalar/sdk';\n\nconst client = new Scalar({\n  bearerAuth: process.env['BEARER_AUTH'], // defaults to the BEARER_AUTH env var\n});\n\nconst listAPIDocuments = await client.registry.listAPIDocuments('namespace');\n\nconsole.log(listAPIDocuments);"
          },
          {
            "lang": "Shell",
            "label": "CLI",
            "source": "scalarapi registry list-api-documents 'namespace_' --bearer-auth \"$BEARER_AUTH\""
          },
          {
            "lang": "Python",
            "label": "Python",
            "source": "import os\n\nfrom scalar_sdk import Scalar\n\nclient = Scalar(\n    bearer_auth=os.environ.get(\"BEARER_AUTH\"),\n)\n\nregistry = client.registry.list_api_documents(\n    namespace=\"namespace\",\n)\n\nprint(registry)"
          }
        ]
      },
      "post": {
        "tags": [
          "Registry"
        ],
        "description": "Create an API document.",
        "summary": "Create API Document",
        "operationId": "createApiDocument",
        "responses": {
          "200": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "uid": {
                      "type": "string"
                    },
                    "versionUid": {
                      "type": "string"
                    },
                    "title": {
                      "type": "string"
                    },
                    "jsonSha": {
                      "type": "string"
                    },
                    "yamlSha": {
                      "type": "string"
                    },
                    "versionSha": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "uid",
                    "versionUid",
                    "title",
                    "jsonSha",
                    "yamlSha",
                    "versionSha"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/400"
                }
              }
            }
          },
          "401": {
            "description": "No auth",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/401"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/403"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/404"
                }
              }
            }
          },
          "422": {
            "description": "Invalid payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/422"
                }
              }
            }
          },
          "500": {
            "description": "Uncaught error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/500"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "version": {
                    "$ref": "#/components/schemas/version"
                  },
                  "slug": {
                    "type": "string"
                  },
                  "ruleset": {
                    "type": "string"
                  },
                  "isPrivate": {
                    "type": "boolean"
                  },
                  "document": {
                    "type": "string"
                  }
                },
                "required": [
                  "title",
                  "version",
                  "slug",
                  "document"
                ],
                "additionalProperties": false
              }
            }
          },
          "required": true
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "namespace",
            "required": true
          }
        ],
        "x-codeSamples": [
          {
            "lang": "TypeScript",
            "label": "TypeScript",
            "source": "import Scalar from '@scalar/sdk';\n\nconst client = new Scalar({\n  bearerAuth: process.env['BEARER_AUTH'], // defaults to the BEARER_AUTH env var\n});\n\nconst createAPIDocument = await client.registry.createAPIDocument('namespace', {\n  title: '',\n  version: 'x',\n  slug: '',\n  document: '',\n});\n\nconsole.log(createAPIDocument);"
          },
          {
            "lang": "Shell",
            "label": "CLI",
            "source": "scalarapi registry create-api-document 'namespace_' --bearer-auth \"$BEARER_AUTH\" --title 'title' --version-command 'version' --slug 'slug' --document 'document'"
          },
          {
            "lang": "Python",
            "label": "Python",
            "source": "import os\n\nfrom scalar_sdk import Scalar\n\nclient = Scalar(\n    bearer_auth=os.environ.get(\"BEARER_AUTH\"),\n)\n\nregistry = client.registry.create_api_document(\n    namespace=\"namespace\",\n    title=\"\",\n    version=\"x\",\n    slug=\"\",\n    document=\"\",\n)\n\nprint(registry)"
          }
        ]
      }
    },
    "/v1/apis/{namespace}/{slug}": {
      "patch": {
        "tags": [
          "Registry"
        ],
        "description": "Update metadata for an API document.",
        "summary": "Update API Document metadata",
        "operationId": "updateApiDocument",
        "responses": {
          "200": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "null"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/400"
                }
              }
            }
          },
          "401": {
            "description": "No auth",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/401"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/403"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/404"
                }
              }
            }
          },
          "422": {
            "description": "Invalid payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/422"
                }
              }
            }
          },
          "500": {
            "description": "Uncaught error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/500"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "isPrivate": {
                    "type": "boolean"
                  },
                  "ruleset": {
                    "type": "string"
                  }
                },
                "additionalProperties": false
              }
            }
          },
          "required": true
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "namespace",
            "required": true
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "slug",
            "required": true
          }
        ],
        "x-codeSamples": [
          {
            "lang": "TypeScript",
            "label": "TypeScript",
            "source": "import Scalar from '@scalar/sdk';\n\nconst client = new Scalar({\n  bearerAuth: process.env['BEARER_AUTH'], // defaults to the BEARER_AUTH env var\n});\n\nawait client.registry.updateAPIDocument('slug', {\n  namespace: 'namespace',\n});"
          },
          {
            "lang": "Shell",
            "label": "CLI",
            "source": "scalarapi registry update-api-document 'slug' --bearer-auth \"$BEARER_AUTH\" --namespace 'namespace'"
          },
          {
            "lang": "Python",
            "label": "Python",
            "source": "import os\n\nfrom scalar_sdk import Scalar\n\nclient = Scalar(\n    bearer_auth=os.environ.get(\"BEARER_AUTH\"),\n)\n\nregistry = client.registry.update_api_document(\n    namespace=\"namespace\",\n    slug=\"slug\",\n)\n\nprint(registry)"
          }
        ]
      },
      "delete": {
        "tags": [
          "Registry"
        ],
        "description": "Delete an API document and all versions.",
        "summary": "Delete API Document",
        "operationId": "deleteApiDocument",
        "responses": {
          "200": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "null"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/400"
                }
              }
            }
          },
          "401": {
            "description": "No auth",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/401"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/403"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/404"
                }
              }
            }
          },
          "422": {
            "description": "Invalid payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/422"
                }
              }
            }
          },
          "500": {
            "description": "Uncaught error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/500"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "namespace",
            "required": true
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "slug",
            "required": true
          }
        ],
        "x-codeSamples": [
          {
            "lang": "TypeScript",
            "label": "TypeScript",
            "source": "import Scalar from '@scalar/sdk';\n\nconst client = new Scalar({\n  bearerAuth: process.env['BEARER_AUTH'], // defaults to the BEARER_AUTH env var\n});\n\nawait client.registry.deleteAPIDocument('slug', {\n  namespace: 'namespace',\n});"
          },
          {
            "lang": "Shell",
            "label": "CLI",
            "source": "scalarapi registry delete-api-document 'slug' --bearer-auth \"$BEARER_AUTH\" --namespace 'namespace'"
          },
          {
            "lang": "Python",
            "label": "Python",
            "source": "import os\n\nfrom scalar_sdk import Scalar\n\nclient = Scalar(\n    bearer_auth=os.environ.get(\"BEARER_AUTH\"),\n)\n\nregistry = client.registry.delete_api_document(\n    namespace=\"namespace\",\n    slug=\"slug\",\n)\n\nprint(registry)"
          }
        ]
      }
    },
    "/v1/apis/{namespace}/{slug}/version/{semver}": {
      "get": {
        "tags": [
          "Registry"
        ],
        "description": "Get a specific API document version.",
        "summary": "Get API Document",
        "operationId": "getApiDocumentVersion",
        "responses": {
          "200": {
            "description": "Default Response",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/400"
                }
              }
            }
          },
          "401": {
            "description": "No auth",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/401"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/403"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/404"
                }
              }
            }
          },
          "422": {
            "description": "Invalid payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/422"
                }
              }
            }
          },
          "500": {
            "description": "Uncaught error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/500"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "namespace",
            "required": true
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "slug",
            "required": true
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "semver",
            "required": true
          }
        ],
        "x-codeSamples": [
          {
            "lang": "TypeScript",
            "label": "TypeScript",
            "source": "import Scalar from '@scalar/sdk';\n\nconst client = new Scalar({\n  bearerAuth: process.env['BEARER_AUTH'], // defaults to the BEARER_AUTH env var\n});\n\nconst string_ = await client.registry.retrieveAPIDocumentVersion('semver', {\n  namespace: 'namespace',\n  slug: 'slug',\n});\n\nconsole.log(string_);"
          },
          {
            "lang": "Shell",
            "label": "CLI",
            "source": "scalarapi registry retrieve-api-document-version 'semver' --bearer-auth \"$BEARER_AUTH\" --namespace 'namespace' --slug 'slug'"
          },
          {
            "lang": "Python",
            "label": "Python",
            "source": "import os\n\nfrom scalar_sdk import Scalar\n\nclient = Scalar(\n    bearer_auth=os.environ.get(\"BEARER_AUTH\"),\n)\n\nregistry = client.registry.retrieve_api_document_version(\n    namespace=\"namespace\",\n    slug=\"slug\",\n    semver=\"semver\",\n)\n\nprint(registry)"
          }
        ]
      },
      "patch": {
        "tags": [
          "Registry"
        ],
        "description": "Update the registry file content for an API document version.",
        "summary": "Update API Document version",
        "operationId": "updateApiDocumentVersion",
        "responses": {
          "200": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonSha": {
                      "type": "string"
                    },
                    "yamlSha": {
                      "type": "string"
                    },
                    "versionSha": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "jsonSha",
                    "yamlSha",
                    "versionSha"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/400"
                }
              }
            }
          },
          "401": {
            "description": "No auth",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/401"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/403"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/404"
                }
              }
            }
          },
          "422": {
            "description": "Invalid payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/422"
                }
              }
            }
          },
          "500": {
            "description": "Uncaught error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/500"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "document": {
                    "type": "string"
                  },
                  "lastKnownVersionSha": {
                    "type": "string"
                  }
                },
                "required": [
                  "document"
                ],
                "additionalProperties": false
              }
            }
          },
          "required": true
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "namespace",
            "required": true
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "slug",
            "required": true
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "semver",
            "required": true
          }
        ],
        "x-codeSamples": [
          {
            "lang": "TypeScript",
            "label": "TypeScript",
            "source": "import Scalar from '@scalar/sdk';\n\nconst client = new Scalar({\n  bearerAuth: process.env['BEARER_AUTH'], // defaults to the BEARER_AUTH env var\n});\n\nconst updateAPIDocumentVersion = await client.registry.updateAPIDocumentVersion('semver', {\n  namespace: 'namespace',\n  slug: 'slug',\n  document: '',\n});\n\nconsole.log(updateAPIDocumentVersion);"
          },
          {
            "lang": "Shell",
            "label": "CLI",
            "source": "scalarapi registry update-api-document-version 'semver' --bearer-auth \"$BEARER_AUTH\" --namespace 'namespace' --slug 'slug' --document 'document'"
          },
          {
            "lang": "Python",
            "label": "Python",
            "source": "import os\n\nfrom scalar_sdk import Scalar\n\nclient = Scalar(\n    bearer_auth=os.environ.get(\"BEARER_AUTH\"),\n)\n\nregistry = client.registry.update_api_document_version(\n    namespace=\"namespace\",\n    slug=\"slug\",\n    semver=\"semver\",\n    document=\"\",\n)\n\nprint(registry)"
          }
        ]
      },
      "delete": {
        "tags": [
          "Registry"
        ],
        "description": "Delete a specific API document version.",
        "summary": "Delete API Document version",
        "operationId": "deleteApiDocumentVersion",
        "responses": {
          "200": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "null"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/400"
                }
              }
            }
          },
          "401": {
            "description": "No auth",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/401"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/403"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/404"
                }
              }
            }
          },
          "422": {
            "description": "Invalid payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/422"
                }
              }
            }
          },
          "500": {
            "description": "Uncaught error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/500"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "namespace",
            "required": true
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "slug",
            "required": true
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "semver",
            "required": true
          }
        ],
        "x-codeSamples": [
          {
            "lang": "TypeScript",
            "label": "TypeScript",
            "source": "import Scalar from '@scalar/sdk';\n\nconst client = new Scalar({\n  bearerAuth: process.env['BEARER_AUTH'], // defaults to the BEARER_AUTH env var\n});\n\nawait client.registry.deleteAPIDocumentVersion('semver', {\n  namespace: 'namespace',\n  slug: 'slug',\n});"
          },
          {
            "lang": "Shell",
            "label": "CLI",
            "source": "scalarapi registry delete-api-document-version 'semver' --bearer-auth \"$BEARER_AUTH\" --namespace 'namespace' --slug 'slug'"
          },
          {
            "lang": "Python",
            "label": "Python",
            "source": "import os\n\nfrom scalar_sdk import Scalar\n\nclient = Scalar(\n    bearer_auth=os.environ.get(\"BEARER_AUTH\"),\n)\n\nregistry = client.registry.delete_api_document_version(\n    namespace=\"namespace\",\n    slug=\"slug\",\n    semver=\"semver\",\n)\n\nprint(registry)"
          }
        ]
      }
    },
    "/v1/apis/{namespace}/{slug}/version/{semver}/metadata": {
      "get": {
        "tags": [
          "Registry"
        ],
        "description": "Get metadata (uid, content shas, version sha, tags) for a specific API document version.",
        "summary": "Get API Document version metadata",
        "operationId": "getApiDocumentVersionMetadata",
        "responses": {
          "200": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/managed-doc-version"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/400"
                }
              }
            }
          },
          "401": {
            "description": "No auth",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/401"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/403"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/404"
                }
              }
            }
          },
          "422": {
            "description": "Invalid payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/422"
                }
              }
            }
          },
          "500": {
            "description": "Uncaught error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/500"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "namespace",
            "required": true
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "slug",
            "required": true
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "semver",
            "required": true
          }
        ],
        "x-codeSamples": [
          {
            "lang": "TypeScript",
            "label": "TypeScript",
            "source": "import Scalar from '@scalar/sdk';\n\nconst client = new Scalar({\n  bearerAuth: process.env['BEARER_AUTH'], // defaults to the BEARER_AUTH env var\n});\n\nconst listAPIDocumentVersionMetadata = await client.registry.listAPIDocumentVersionMetadata('semver', {\n  namespace: 'namespace',\n  slug: 'slug',\n});\n\nconsole.log(listAPIDocumentVersionMetadata);"
          },
          {
            "lang": "Shell",
            "label": "CLI",
            "source": "scalarapi registry list-api-document-version-metadata 'semver' --bearer-auth \"$BEARER_AUTH\" --namespace 'namespace' --slug 'slug'"
          },
          {
            "lang": "Python",
            "label": "Python",
            "source": "import os\n\nfrom scalar_sdk import Scalar\n\nclient = Scalar(\n    bearer_auth=os.environ.get(\"BEARER_AUTH\"),\n)\n\nregistry = client.registry.list_api_document_version_metadata(\n    namespace=\"namespace\",\n    slug=\"slug\",\n    semver=\"semver\",\n)\n\nprint(registry)"
          }
        ]
      }
    },
    "/v1/apis/{namespace}/{slug}/version": {
      "post": {
        "tags": [
          "Registry"
        ],
        "description": "Create a new API document version.",
        "summary": "Create API Document version",
        "operationId": "createApiDocumentVersion",
        "responses": {
          "200": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/managed-doc-version"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/400"
                }
              }
            }
          },
          "401": {
            "description": "No auth",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/401"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/403"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/404"
                }
              }
            }
          },
          "422": {
            "description": "Invalid payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/422"
                }
              }
            }
          },
          "500": {
            "description": "Uncaught error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/500"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "version": {
                    "$ref": "#/components/schemas/version"
                  },
                  "document": {
                    "type": "string"
                  },
                  "force": {
                    "type": "boolean"
                  },
                  "lastKnownVersionSha": {
                    "type": "string"
                  }
                },
                "required": [
                  "version",
                  "document"
                ],
                "additionalProperties": false
              }
            }
          },
          "required": true
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "namespace",
            "required": true
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "slug",
            "required": true
          }
        ],
        "x-codeSamples": [
          {
            "lang": "TypeScript",
            "label": "TypeScript",
            "source": "import Scalar from '@scalar/sdk';\n\nconst client = new Scalar({\n  bearerAuth: process.env['BEARER_AUTH'], // defaults to the BEARER_AUTH env var\n});\n\nconst createAPIDocumentVersion = await client.registry.createAPIDocumentVersion('slug', {\n  namespace: 'namespace',\n  version: 'x',\n  document: '',\n});\n\nconsole.log(createAPIDocumentVersion);"
          },
          {
            "lang": "Shell",
            "label": "CLI",
            "source": "scalarapi registry create-api-document-version 'slug' --bearer-auth \"$BEARER_AUTH\" --namespace 'namespace' --version-command 'version' --document 'document'"
          },
          {
            "lang": "Python",
            "label": "Python",
            "source": "import os\n\nfrom scalar_sdk import Scalar\n\nclient = Scalar(\n    bearer_auth=os.environ.get(\"BEARER_AUTH\"),\n)\n\nregistry = client.registry.create_api_document_version(\n    namespace=\"namespace\",\n    slug=\"slug\",\n    version=\"x\",\n    document=\"\",\n)\n\nprint(registry)"
          }
        ]
      }
    },
    "/v1/apis/{namespace}/{slug}/access-group": {
      "post": {
        "tags": [
          "Registry"
        ],
        "description": "Add an access group to an API document.",
        "summary": "Add access group",
        "operationId": "addApiDocumentAccessGroup",
        "responses": {
          "200": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "null"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/400"
                }
              }
            }
          },
          "401": {
            "description": "No auth",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/401"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/403"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/404"
                }
              }
            }
          },
          "422": {
            "description": "Invalid payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/422"
                }
              }
            }
          },
          "500": {
            "description": "Uncaught error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/500"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/access-group"
              }
            }
          },
          "required": true
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "namespace",
            "required": true
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "slug",
            "required": true
          }
        ],
        "x-codeSamples": [
          {
            "lang": "TypeScript",
            "label": "TypeScript",
            "source": "import Scalar from '@scalar/sdk';\n\nconst client = new Scalar({\n  bearerAuth: process.env['BEARER_AUTH'], // defaults to the BEARER_AUTH env var\n});\n\nawait client.registry.createAPIDocumentAccessGroup('slug', {\n  namespace: 'namespace',\n  accessGroupSlug: 'xxx',\n});"
          },
          {
            "lang": "Shell",
            "label": "CLI",
            "source": "scalarapi registry create-api-document-access-group 'slug' --bearer-auth \"$BEARER_AUTH\" --namespace 'namespace' --access-group-slug 'accessGroupSlug'"
          },
          {
            "lang": "Python",
            "label": "Python",
            "source": "import os\n\nfrom scalar_sdk import Scalar\n\nclient = Scalar(\n    bearer_auth=os.environ.get(\"BEARER_AUTH\"),\n)\n\nregistry = client.registry.create_api_document_access_group(\n    namespace=\"namespace\",\n    slug=\"slug\",\n    access_group_slug=\"xxx\",\n)\n\nprint(registry)"
          }
        ]
      },
      "delete": {
        "tags": [
          "Registry"
        ],
        "description": "Remove an access group from an API document.",
        "summary": "Remove access group",
        "operationId": "removeApiDocumentAccessGroup",
        "responses": {
          "200": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "null"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/400"
                }
              }
            }
          },
          "401": {
            "description": "No auth",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/401"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/403"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/404"
                }
              }
            }
          },
          "422": {
            "description": "Invalid payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/422"
                }
              }
            }
          },
          "500": {
            "description": "Uncaught error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/500"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/access-group"
              }
            }
          },
          "required": true
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "namespace",
            "required": true
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "slug",
            "required": true
          }
        ],
        "x-codeSamples": [
          {
            "lang": "TypeScript",
            "label": "TypeScript",
            "source": "import Scalar from '@scalar/sdk';\n\nconst client = new Scalar({\n  bearerAuth: process.env['BEARER_AUTH'], // defaults to the BEARER_AUTH env var\n});\n\nawait client.registry.deleteAPIDocumentAccessGroup('slug', {\n  namespace: 'namespace',\n  accessGroupSlug: 'xxx',\n});"
          },
          {
            "lang": "Shell",
            "label": "CLI",
            "source": "scalarapi registry delete-api-document-access-group 'slug' --bearer-auth \"$BEARER_AUTH\" --namespace 'namespace' --access-group-slug 'accessGroupSlug'"
          },
          {
            "lang": "Python",
            "label": "Python",
            "source": "import os\n\nfrom scalar_sdk import Scalar\n\nclient = Scalar(\n    bearer_auth=os.environ.get(\"BEARER_AUTH\"),\n)\n\nregistry = client.registry.delete_api_document_access_group(\n    namespace=\"namespace\",\n    slug=\"slug\",\n    access_group_slug=\"xxx\",\n)\n\nprint(registry)"
          }
        ]
      }
    },
    "/v1/schemas/{namespace}": {
      "get": {
        "tags": [
          "Schemas"
        ],
        "description": "List schemas in a namespace.",
        "summary": "List all shared components",
        "operationId": "listSchemas",
        "responses": {
          "200": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/schema"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/400"
                }
              }
            }
          },
          "401": {
            "description": "No auth",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/401"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/403"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/404"
                }
              }
            }
          },
          "422": {
            "description": "Invalid payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/422"
                }
              }
            }
          },
          "500": {
            "description": "Uncaught error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/500"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "namespace",
            "required": true
          }
        ],
        "x-codeSamples": [
          {
            "lang": "TypeScript",
            "label": "TypeScript",
            "source": "import Scalar from '@scalar/sdk';\n\nconst client = new Scalar({\n  bearerAuth: process.env['BEARER_AUTH'], // defaults to the BEARER_AUTH env var\n});\n\nconst list = await client.schemas.list('namespace');\n\nconsole.log(list);"
          },
          {
            "lang": "Shell",
            "label": "CLI",
            "source": "scalarapi schemas list 'namespace_' --bearer-auth \"$BEARER_AUTH\""
          },
          {
            "lang": "Python",
            "label": "Python",
            "source": "import os\n\nfrom scalar_sdk import Scalar\n\nclient = Scalar(\n    bearer_auth=os.environ.get(\"BEARER_AUTH\"),\n)\n\nschema = client.schemas.list(\n    namespace=\"namespace\",\n)\n\nprint(schema)"
          }
        ]
      },
      "post": {
        "tags": [
          "Schemas"
        ],
        "description": "Create a schema in a namespace.",
        "summary": "Create a shared component",
        "operationId": "createSchema",
        "responses": {
          "200": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/uid"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/400"
                }
              }
            }
          },
          "401": {
            "description": "No auth",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/401"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/403"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/404"
                }
              }
            }
          },
          "422": {
            "description": "Invalid payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/422"
                }
              }
            }
          },
          "500": {
            "description": "Uncaught error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/500"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "version": {
                    "$ref": "#/components/schemas/version"
                  },
                  "slug": {
                    "type": "string"
                  },
                  "isPrivate": {
                    "type": "boolean"
                  },
                  "document": {
                    "type": "string"
                  }
                },
                "required": [
                  "title",
                  "version",
                  "slug",
                  "document"
                ],
                "additionalProperties": false
              }
            }
          },
          "required": true
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "namespace",
            "required": true
          }
        ],
        "x-codeSamples": [
          {
            "lang": "TypeScript",
            "label": "TypeScript",
            "source": "import Scalar from '@scalar/sdk';\n\nconst client = new Scalar({\n  bearerAuth: process.env['BEARER_AUTH'], // defaults to the BEARER_AUTH env var\n});\n\nconst create = await client.schemas.create('namespace', {\n  title: '',\n  version: 'x',\n  slug: '',\n  document: '',\n});\n\nconsole.log(create);"
          },
          {
            "lang": "Shell",
            "label": "CLI",
            "source": "scalarapi schemas create 'namespace_' --bearer-auth \"$BEARER_AUTH\" --title 'title' --version-command 'version' --slug 'slug' --document 'document'"
          },
          {
            "lang": "Python",
            "label": "Python",
            "source": "import os\n\nfrom scalar_sdk import Scalar\n\nclient = Scalar(\n    bearer_auth=os.environ.get(\"BEARER_AUTH\"),\n)\n\nschema = client.schemas.create(\n    namespace=\"namespace\",\n    title=\"\",\n    version=\"x\",\n    slug=\"\",\n    document=\"\",\n)\n\nprint(schema)"
          }
        ]
      }
    },
    "/v1/schemas/{namespace}/{slug}": {
      "patch": {
        "tags": [
          "Schemas"
        ],
        "description": "Update schema metadata.",
        "summary": "Update shared component metadata",
        "operationId": "updateSchema",
        "responses": {
          "200": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "null"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/400"
                }
              }
            }
          },
          "401": {
            "description": "No auth",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/401"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/403"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/404"
                }
              }
            }
          },
          "422": {
            "description": "Invalid payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/422"
                }
              }
            }
          },
          "500": {
            "description": "Uncaught error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/500"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "isPrivate": {
                    "type": "boolean"
                  }
                },
                "additionalProperties": false
              }
            }
          },
          "required": true
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "namespace",
            "required": true
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "slug",
            "required": true
          }
        ],
        "x-codeSamples": [
          {
            "lang": "TypeScript",
            "label": "TypeScript",
            "source": "import Scalar from '@scalar/sdk';\n\nconst client = new Scalar({\n  bearerAuth: process.env['BEARER_AUTH'], // defaults to the BEARER_AUTH env var\n});\n\nawait client.schemas.update('slug', {\n  namespace: 'namespace',\n});"
          },
          {
            "lang": "Shell",
            "label": "CLI",
            "source": "scalarapi schemas update 'slug' --bearer-auth \"$BEARER_AUTH\" --namespace 'namespace'"
          },
          {
            "lang": "Python",
            "label": "Python",
            "source": "import os\n\nfrom scalar_sdk import Scalar\n\nclient = Scalar(\n    bearer_auth=os.environ.get(\"BEARER_AUTH\"),\n)\n\nschema = client.schemas.update(\n    namespace=\"namespace\",\n    slug=\"slug\",\n)\n\nprint(schema)"
          }
        ]
      },
      "delete": {
        "tags": [
          "Schemas"
        ],
        "description": "Delete a schema and all related versions.",
        "summary": "Delete a shared component",
        "operationId": "deleteSchema",
        "responses": {
          "200": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "null"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/400"
                }
              }
            }
          },
          "401": {
            "description": "No auth",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/401"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/403"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/404"
                }
              }
            }
          },
          "422": {
            "description": "Invalid payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/422"
                }
              }
            }
          },
          "500": {
            "description": "Uncaught error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/500"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "namespace",
            "required": true
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "slug",
            "required": true
          }
        ],
        "x-codeSamples": [
          {
            "lang": "TypeScript",
            "label": "TypeScript",
            "source": "import Scalar from '@scalar/sdk';\n\nconst client = new Scalar({\n  bearerAuth: process.env['BEARER_AUTH'], // defaults to the BEARER_AUTH env var\n});\n\nawait client.schemas.delete('slug', {\n  namespace: 'namespace',\n});"
          },
          {
            "lang": "Shell",
            "label": "CLI",
            "source": "scalarapi schemas delete 'slug' --bearer-auth \"$BEARER_AUTH\" --namespace 'namespace'"
          },
          {
            "lang": "Python",
            "label": "Python",
            "source": "import os\n\nfrom scalar_sdk import Scalar\n\nclient = Scalar(\n    bearer_auth=os.environ.get(\"BEARER_AUTH\"),\n)\n\nschema = client.schemas.delete(\n    namespace=\"namespace\",\n    slug=\"slug\",\n)\n\nprint(schema)"
          }
        ]
      }
    },
    "/v1/schemas/{namespace}/{slug}/version/{semver}": {
      "get": {
        "tags": [
          "Schemas"
        ],
        "description": "Get a specific schema version document.",
        "summary": "Get a shared component document",
        "operationId": "getSchemaVersion",
        "responses": {
          "200": {
            "description": "Default Response",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/400"
                }
              }
            }
          },
          "401": {
            "description": "No auth",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/401"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/403"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/404"
                }
              }
            }
          },
          "422": {
            "description": "Invalid payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/422"
                }
              }
            }
          },
          "500": {
            "description": "Uncaught error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/500"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "namespace",
            "required": true
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "slug",
            "required": true
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "semver",
            "required": true
          }
        ],
        "x-codeSamples": [
          {
            "lang": "TypeScript",
            "label": "TypeScript",
            "source": "import Scalar from '@scalar/sdk';\n\nconst client = new Scalar({\n  bearerAuth: process.env['BEARER_AUTH'], // defaults to the BEARER_AUTH env var\n});\n\nconst string_ = await client.schemas.version.retrieveSchema('semver', {\n  namespace: 'namespace',\n  slug: 'slug',\n});\n\nconsole.log(string_);"
          },
          {
            "lang": "Shell",
            "label": "CLI",
            "source": "scalarapi schemas:version-command retrieve-schema 'semver' --bearer-auth \"$BEARER_AUTH\" --namespace 'namespace' --slug 'slug'"
          },
          {
            "lang": "Python",
            "label": "Python",
            "source": "import os\n\nfrom scalar_sdk import Scalar\n\nclient = Scalar(\n    bearer_auth=os.environ.get(\"BEARER_AUTH\"),\n)\n\nversion = client.schemas.version.retrieve_schema(\n    namespace=\"namespace\",\n    slug=\"slug\",\n    semver=\"semver\",\n)\n\nprint(version)"
          }
        ]
      },
      "delete": {
        "tags": [
          "Schemas"
        ],
        "description": "Delete a schema version.",
        "summary": "Delete a shared component version",
        "operationId": "deleteSchemaVersion",
        "responses": {
          "200": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "null"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/400"
                }
              }
            }
          },
          "401": {
            "description": "No auth",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/401"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/403"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/404"
                }
              }
            }
          },
          "422": {
            "description": "Invalid payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/422"
                }
              }
            }
          },
          "500": {
            "description": "Uncaught error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/500"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "namespace",
            "required": true
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "slug",
            "required": true
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "semver",
            "required": true
          }
        ],
        "x-codeSamples": [
          {
            "lang": "TypeScript",
            "label": "TypeScript",
            "source": "import Scalar from '@scalar/sdk';\n\nconst client = new Scalar({\n  bearerAuth: process.env['BEARER_AUTH'], // defaults to the BEARER_AUTH env var\n});\n\nawait client.schemas.version.deleteSchema('semver', {\n  namespace: 'namespace',\n  slug: 'slug',\n});"
          },
          {
            "lang": "Shell",
            "label": "CLI",
            "source": "scalarapi schemas:version-command delete-schema 'semver' --bearer-auth \"$BEARER_AUTH\" --namespace 'namespace' --slug 'slug'"
          },
          {
            "lang": "Python",
            "label": "Python",
            "source": "import os\n\nfrom scalar_sdk import Scalar\n\nclient = Scalar(\n    bearer_auth=os.environ.get(\"BEARER_AUTH\"),\n)\n\nversion = client.schemas.version.delete_schema(\n    namespace=\"namespace\",\n    slug=\"slug\",\n    semver=\"semver\",\n)\n\nprint(version)"
          }
        ]
      }
    },
    "/v1/schemas/{namespace}/{slug}/version": {
      "post": {
        "tags": [
          "Schemas"
        ],
        "description": "Create a schema version.",
        "summary": "Create a shared component version",
        "operationId": "createSchemaVersion",
        "responses": {
          "200": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/uid"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/400"
                }
              }
            }
          },
          "401": {
            "description": "No auth",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/401"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/403"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/404"
                }
              }
            }
          },
          "422": {
            "description": "Invalid payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/422"
                }
              }
            }
          },
          "500": {
            "description": "Uncaught error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/500"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "version": {
                    "$ref": "#/components/schemas/version"
                  },
                  "document": {
                    "type": "string"
                  }
                },
                "required": [
                  "version",
                  "document"
                ],
                "additionalProperties": false
              }
            }
          },
          "required": true
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "namespace",
            "required": true
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "slug",
            "required": true
          }
        ],
        "x-codeSamples": [
          {
            "lang": "TypeScript",
            "label": "TypeScript",
            "source": "import Scalar from '@scalar/sdk';\n\nconst client = new Scalar({\n  bearerAuth: process.env['BEARER_AUTH'], // defaults to the BEARER_AUTH env var\n});\n\nconst createSchema = await client.schemas.version.createSchema('slug', {\n  namespace: 'namespace',\n  version: 'x',\n  document: '',\n});\n\nconsole.log(createSchema);"
          },
          {
            "lang": "Shell",
            "label": "CLI",
            "source": "scalarapi schemas:version-command create-schema 'slug' --bearer-auth \"$BEARER_AUTH\" --namespace 'namespace' --version-command 'version' --document 'document'"
          },
          {
            "lang": "Python",
            "label": "Python",
            "source": "import os\n\nfrom scalar_sdk import Scalar\n\nclient = Scalar(\n    bearer_auth=os.environ.get(\"BEARER_AUTH\"),\n)\n\nversion = client.schemas.version.create_schema(\n    namespace=\"namespace\",\n    slug=\"slug\",\n    version=\"x\",\n    document=\"\",\n)\n\nprint(version)"
          }
        ]
      }
    },
    "/v1/schemas/{namespace}/{slug}/access-group": {
      "post": {
        "tags": [
          "Schemas"
        ],
[...]
